<h2>Smart Project Management</h2>
<p>Please login to start your session</p>
<form #loginForm="ngForm" class="form-group" novalidate>
    <label for="username">Username</label>
    <input class="form-control" type="text" placeholder="Username" name="username" [(ngModel)]="user.username" required
        #username="ngModel">
    <div class="danger" [hidden]="username.valid || username.pristine">
        required field*
    </div>
    <label for="password">Password</label>
    <input class="form-control" type="password" placeholder="Password" name="password" [(ngModel)]="user.password"
        required #pass="ngModel">
    <div class="danger" *ngIf="pass.invalid && pass.dirty">
        required field*
    </div>
    <input type="checkbox" [checked]="rememberMe" (change)="rememberMeChanged()" name="rememberMe"> Remember Me
    <br>
    <button [disabled]="loginForm.invalid" *ngIf="!submitting" class="btn btn-primary" (click)="login()">login</button>
    <button disabled *ngIf="submitting" class="btn btn-info">logging in...</button>
</form>

<p>Don't have an account?</p>
<p>Register
    <a routerLink="/auth/register">here</a>
</p>
<p><a [routerLink]="['/auth/forgot-password']">forgot password?</a></p>

<!-- template variables ==> any keyword that are used with #prefix inside html file is template variable -->