<h2>Smart Project Management</h2>
<p>Please register to start using our application</p>
<form #registerForm="ngForm" class="form-group" novalidate>
    <label for="name">Name</label>
    <input class="form-control" type="text" placeholder="Name" name="name" [(ngModel)]="user.name" required
        #name="ngModel">
    <div class="danger" [hidden]="name.valid || name.pristine">
        required field*
    </div>
    <label for="email">Email</label>
    <input class="form-control" type="text" placeholder="Email" name="email" [(ngModel)]="user.email" required email
        #email="ngModel">
    <div class="danger" *ngIf="email.errors && email.dirty">
        <div *ngIf="email.errors.required">
            required field*
        </div>
        <div *ngIf="email.errors.email">
            not an valid email
        </div>
    </div>
    <label for="phoneNumber">Phone Number</label>
    <input class="form-control" type="text" placeholder="Phone Number" name="phoneNumber" [(ngModel)]="user.phoneNumber"
        required #phoneNumber="ngModel">
    <div class="danger" [hidden]="phoneNumber.valid || phoneNumber.pristine">
        required field*
    </div>

    <label for="address">Address</label>
    <input class="form-control" type="text" placeholder="Address" name="address" [(ngModel)]="user.address">
    <label for="username">Username</label>
    <input class="form-control" type="text" placeholder="Username" name="username" [(ngModel)]="user.username" required
        #username="ngModel">
    <div class="danger" [hidden]="username.valid || username.pristine">
        required field*
    </div>
    <label for="password">Password</label>
    <input class="form-control" type="password" placeholder="Password" name="password" [(ngModel)]="user.password"
        required minlength="6" #pass="ngModel">
    <div class="danger" *ngIf="pass.errors && pass.dirty">
        <div *ngIf="pass.errors.required">
            required field*
        </div>
        <div *ngIf="pass.errors.minlength">
            weak password
        </div>
    </div>
    <div *ngIf="pass.valid"> some some tick mark</div>
    <label for="gender">Gender</label>
    <input class="form-control" type="text" placeholder="Gender" name="gender" [(ngModel)]="user.gender"
        #gender="ngModel">

    <label for="dob">dob</label>
    <input class="form-control" type="text" placeholder="dob" name="dob" [(ngModel)]="user.dob" #dob="ngModel">

    <br>
    <button [disabled]="registerForm.invalid" *ngIf="!submitting" class="btn btn-primary"
        (click)="submit()">submit</button>
    <button disabled *ngIf="submitting" class="btn btn-info">submitting...</button>
</form>

<p>Already Registered?</p>
<p>back to
    <a [routerLink]="['/auth/login']">login</a>
</p>

<!-- template variables ==> any keyword that are used with #prefix inside html file is template variable -->