<h2>View Products</h2>
<div *ngIf="loading">
    <app-loader></app-loader>
</div>
<table *ngIf="!loading" class="table table-bordered">
    <thead>
        <tr>
            <th>S.N</th>
            <th>Name</th>
            <th>Category</th>
            <th>Brand</th>
            <th>Color</th>
            <th>Price</th>
            <th>Image</th>
            <!-- <th>Tags</th> -->
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products;let i = index ">

            <td>{{i +1}}</td>
            <td *ngIf="product.name">{{product.name}}</td>
            <td *ngIf="!product.name">N/A</td>
            <td>{{product.category}}</td>
            <td>{{product.brand}}</td>
            <td>{{product.color}}</td>
            <td>{{product.price}}</td>
            <td> <img src="{{imgUrl}}{{product.image}}" alt="product image" width="200px"></td>
            <!-- <td>{{product.tags}}</td> -->
            <td>
                <button routerLink="/product/edit/{{product._id}}" class="btn btn-info">edit</button>
                <button (click)="removeProduct(product._id,i)" class="btn btn-danger">delete</button>
            </td>
        </tr>

    </tbody>
</table>