<!-- <app-header></app-header> -->
<div *ngIf="isLoggedIn()">
    <app-sidebar></app-sidebar>
</div>
<div class="main">
    <router-outlet></router-outlet>
    <!-- <app-footer></app-footer> -->
</div>
<!-- this directive will perform as a placeholder for every components that are configured in the routing configuration block  -->