<div class="sidenav">
    <a routerLink="/product/add">Add Product</a>
    <a routerLink="/product/list">View Product</a>
    <a routerLink="/product/search">Search Product</a>
    <a routerLink="/user/profile">Profile</a>
    <a routerLink="/user/change-password">Change Password</a>
    <button class="btn btn-success" (click)="logout()">logout</button>
</div>