<h2>Reset Password</h2>
<p>Reset Your Password here</p>
<form class="form-group">
    <label for="password">Password</label>
    <input class="form-control" type="password" name="password" [(ngModel)]="data.password" placeholder="Password">
    <label for="confirmPassword">Confirm Password</label>
    <input class="form-control" type="confirmPassword" name="confirmPassword" [(ngModel)]="data.confirmPassword"
        placeholder="Confirm Password">
    <button (click)="submit()" class="btn btn-primary">submit</button>
</form>