<h2>Forgot Password</h2>
<p>Please enter your email for resetting your password</p>
<form class="form-group">
    <label for="email">Email</label>
    <input class="form-control" type="text" placeholder="Email" [(ngModel)]="email" name="email">
    <button class="btn btn-primary" *ngIf="!submitting" (click)="submit()">submit</button>
    <button disabled class="btn btn-info" *ngIf="submitting">submitting...</button>
</form>