<h2>Edit Product</h2>
<div *ngIf="loading">
    <app-loader></app-loader>
</div>
<form *ngIf="!loading" class="from-group" #productForm="ngForm" novalidate>
    <label for="name">name</label>
    <input class="form-control" type="text" name="name" placeholder="name" [(ngModel)]="product.name">
    <label for="category">category</label>
    <input class="form-control" type="text" name="category" placeholder="category" [(ngModel)]="product.category"
        required #category="ngModel">

    <label for="brand">brand</label>
    <input class="form-control" type="text" name="brand" placeholder="brand" [(ngModel)]="product.brand">
    <label for="description">description</label>
    <input class="form-control" type="text" name="description" placeholder="description"
        [(ngModel)]="product.description">
    <label for="color">color</label>
    <input class="form-control" type="text" name="color" placeholder="color" [(ngModel)]="product.color">
    <label for="price">price</label>
    <input class="form-control" type="text" name="price" placeholder="price" [(ngModel)]="product.price">
    <label for="quantity">quantity</label>
    <input class="form-control" type="text" name="quantity" placeholder="quantity" [(ngModel)]="product.quantity">
    <label for="body">body</label>
    <input class="form-control" type="text" name="body" placeholder="body" [(ngModel)]="product.body">
    <label for="tags">tags</label>
    <input class="form-control" type="text" name="tags" placeholder="tags" [(ngModel)]="product.tags">
    <label for="manuDate">manuDate</label>
    <input class="form-control" type="text" name="manuDate" placeholder="manuDate" [(ngModel)]="product.manuDate">
    <label for="expiryDate">expiryDate</label>
    <input class="form-control" type="text" name="expiryDate" placeholder="expiryDate" [(ngModel)]="product.expiryDate">
    <label for="origin">origin</label>
    <input class="form-control" type="text" name="origin" placeholder="origin" [(ngModel)]="product.origin">
    <div>
        <p>Image</p>
        <img src="{{imgUrl}}{{product.image}}" alt="image" width="600px">
    </div>
    <label for="image">Choose Image</label>
    <input class="form-control" type="file" name="image" (change)="fileChanged($event)">
    <button [disabled]="productForm.invalid" (click)="submit()" *ngIf="!submitting"
        class="btn btn-primary">submit</button>
    <button disabled *ngIf="submitting" class="btn btn-info">submitting</button>
</form>