<h2>Search Product</h2>
<form *ngIf="!result" class="from-group" #productForm="ngForm" novalidate>

    <label for="category">category</label>
    <select class="form-control" [(ngModel)]="product.category" (change)="categoryChanged(product.category)"
        name="category">
        <option disabled value="">(Select Category)</option>
        <option *ngFor="let cat of categories" [value]="cat">{{cat}}</option>
    </select>
    <div *ngIf="showName">
        <label for="name">name</label>
        <select class="form-control" [(ngModel)]="product.name" name="name">
            <option disabled value="">(Select Name)</option>
            <option *ngFor="let name of names" [value]="name.name">{{name.name}}</option>
        </select>
    </div>
    <label for="brand">brand</label>
    <input class="form-control" type="text" name="brand" placeholder="brand" [(ngModel)]="product.brand">
    <label for="color">color</label>
    <input class="form-control" type="text" name="color" placeholder="color" [(ngModel)]="product.color">
    <label for="minPrice">Min Price</label>
    <input class="form-control" type="number" name="minPrice" [(ngModel)]="product.minPrice">
    <label for="maxPrice">Max Price</label>
    <input class="form-control" type="number" name="maxPrice" [(ngModel)]="product.maxPrice">
    <label for="fromDate">From Date</label>
    <input class="form-control" type="date" name="fromDate" [(ngModel)]="product.fromDate">
    <input type="checkbox" [checked]="multipleDateRange" (change)="changeMultipleDateRange()"> multiple date range
    <div *ngIf="multipleDateRange">
        <label for="toDate">To Date</label>
        <input class="form-control" type="date" name="toDate" [(ngModel)]="product.toDate">
    </div>
    <br>
    <label for="tags">tags</label>
    <input class="form-control" type="text" name="tags" placeholder="tags" [(ngModel)]="product.tags">
    <button [disabled]="productForm.invalid" (click)="search()" *ngIf="!submitting"
        class="btn btn-primary">submit</button>
    <button disabled *ngIf="submitting" class="btn btn-info">submitting</button>
</form>

<div *ngIf="result">
    <app-list-product [data]="results"></app-list-product>
</div>